<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #046056">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Trang chủ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
            aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <button class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
            <a> Nước Hoa</a>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Nước Hoa Nữ</a></li>
            <li><a class="dropdown-item" href="#">Nước Hoa Nam</a></li>
            <li><a class="dropdown-item" href="#">Nước Hoa Unisex</a></li>
            <li><a class="dropdown-item" href="#">Nước Hoa Mini</a></li>
          </ul>
        </li>
      </ul>
      <a class="navbar-brand" href="#">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
              aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Hoạt động</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
              aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Liên hệ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
              aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://nuochoamy.vn/upload/media/nuoc-hoa-my--nuoc-hoa-nam-nu-chinh-hang-xach-tay-my-cao-cap-gia-re-tphcm-1669170350-eb5846.jpg"
        class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://theme.hstatic.net/200000122545/1000806012/14/slider_item_1_image.jpg?v=154"
           class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img
        src="https://nuochoamy.vn/upload/media/nuoc-hoa-my--nuoc-hoa-nam-nu-chinh-hang-xach-tay-my-cao-cap-gia-re-tphcm-1669172597-f4adcb.jpg"
        class="d-block w-100">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="product_section layout_padding">
  <div class="product">
    <div class="container">
      <div class="row">
        <div class="container mt-5 mb-5">
          <div class="gallary-header text-center">
            <h1 style="width: 100%;background-color: darkslategrey;height: 20px;"><p class="cmtt"
                                                                                     style="background-color: white;width: 30%;line-height: 4px;padding: 5px 5px 13px 5px;margin: auto">
              SẢN PHẨM HOT
            </p></h1>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <ul class="products">
          <div class="previous">
            <a class="previous" (click)="searchPerfume(nameSearch,number - 1)" *ngIf="!firstPage">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
          </div>
          <li *ngFor="let perfume of perfumes">
            <div class="product-item">
              <div class="product-top">
                <a href="" class="product-thumb">
                  <img [src]="perfume.image">
                </a>
                <a class="buy-now" data-toggle="modal" (click)="watchDetail(perfume)" data-target="#detail">Mua
                  ngay</a>
              </div>
            </div>
            <div class="product-info">
              <a href="" class="product-cat"></a>
              <!--          <a href="" class="product-name">{{commodity.name | slice: 0 :20 | titlecase}}</a>-->
              <a href="" class="product-name">{{perfume.name | titlecase | slice: 0 :20 }}<span
                style="background-color: lightgray;color: #007bff;font-weight: 600"
                *ngIf="perfume.name.length > 20">.....</span></a>
              <div class="product-price">Giá: {{perfume.price  | currency: "VND":''}}đ</div>
            </div>
          </li>
          <div class="next">
            <a class="next" (click)="searchPerfume(nameSearch,number + 1)" *ngIf="!lastPage">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="container mt-5 mb-5">
        <div class="gallary-header text-center">
          <h1 style="width: 100%;background-color: darkslategrey;height: 20px;"><p class="cmtt"
                                                                                   style="background-color: white;width: 30%;line-height: 4px;padding: 5px 5px 13px 5px;margin: auto">
            NƯỚC HOA
          </p></h1>
        </div>
      </div>
    </div>

    <div class="product_section_2 layout_padding">
      <div class="row">
        <div class="col-lg-3 col-sm-6" style="margin-top: 30px" *ngFor="let perfume of perfumesByQuantitySold">
          <div class="product_box">
            <div class="card card1" style="width: 17rem;height: 22rem;text-align: center;background: whitesmoke">
              <div class="card-body card2">
                <h4 class="bursh_text" style="color: forestgreen">{{perfume.trademark.name}}</h4>
                <p class="lorem_text">{{perfume.name}}</p>
                <img [src]="perfume.image" class="image_1" style="width: 135px;">
                <h4 class="price_text">Giá: {{perfume.price | currency: "VND":''}}₫</h4>
                <div class="buy_bt overlay">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue"
                          [routerLink]='["/detail",perfume.idPerfume]'>Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange; margin-left: 10px">Mua
                    ngay
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="mb-5 mt-2" style="text-align: center">
      <a style="cursor: pointer; color: green; text-decoration: none" type="button"
         (click)="getPerfumeByQuantitySold(size+8)" *ngIf="!last">
        Xem thêm
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-caret-down" viewBox="0 0 16 16">
          <path
            d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
        </svg>
      </a>
      <a style="cursor: pointer; color: green; text-decoration: none" type="button"
         (click)="getPerfumeByQuantitySold(size=8)" *ngIf="last">
        Ẩn bớt
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-caret-up" viewBox="0 0 16 16">
          <path
            d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
        </svg>
      </a>
    </div>

    <br>
    <div class="about_section layout_padding" style="background: lightblue">
      <div class="container">
        <div class="about_section_main">
          <div class="row">
            <div class="col-md-6">
              <div class="about_taital_main">
                <h1 class="about_taital">Vì sao chọn nước hoa là món quà dành tặng phái đẹp hoàn hảo nhất?</h1>
                <p class="about_text">Trước vô vàn lựa chọn làm quà dành tặng nửa kia thì nước hoa vẫn là sự lựa
                  chọn ưu
                  tiên hàng đầu. Bởi lẽ nước hoa không chỉ là một sản phẩm đa công dụng, phục vụ cho nhiều mục đích
                  khác
                  nhau như: dùng trên cơ thể, xịt lên áo quần hay tạo một bầu không khí thơm ngát cho căn nhà của
                  bạn. Nó
                  còn là một món quà thiên về mặt tinh thần.

                  Với một chai nước hoa, các nàng sẽ luôn mang bên mình vì đây là sản phẩm hằng ngày và giúp họ nhớ
                  về
                  bạn.
                  Vì thế, nước hoa là một món quà chứa chan tình cảm.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div><img src="https://theperfume.vn/wp-content/uploads/2021/02/qua-tang-mung-8-thang-3-1.jpg"
                        class="image_3"
                        style="width: 500px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>

