<div class="product_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 STYLE="text-align: center" class="product_taital">SẢN PHẨM HOT</h1>
      </div>
    </div>
    <div class="product_section_2 layout_padding">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card" style="width: 17rem;height: 22rem">
              <div class="card-body">
                <h4 class="bursh_text">CALVIN KLEIN</h4>
                <p class="lorem_text">Nước Hoa Calvin Klein Be EDT 100ml</p>

                <img src="https://nuochoa95.com/Data/images/san%20pham/CK/calvin-klein-ck-be(1).jpg" class="image_1"
                     style="width: 142px">
                <h4 class="price_text">Giá: 1,307,000₫</h4>
                <div class="buy_bt">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card" style="width: 17rem;height: 22rem">
              <div class="card-body">
                <h4 class="bursh_text">LAURELLE LONDON</h4>
                <p class="lorem_text">Nước Hoa Nam Laurelle London Code Black Pour Homme EDT</p>
                <img
                  src="https://product.hstatic.net/1000391653/product/ondon-code-black-pour-homme-edt-100ml_ba7d2659c0804ca681255c10f29f8eee_235593604f9e4f16824e89a6d35d4503_large.jpg"
                  class="image_1" style="width: 150px">
                <h4 class="price_text">Giá: 660,000₫</h4>
                <div class="buy_bt">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card" style="width: 17rem;height: 22rem">
              <div class="card-body">
                <h4 class="bursh_text">BERDOUES 1902</h4>
                <p class="lorem_text">Nước Hoa Berdoues 1902 Freesia & Coton Eau De Toilette 100ml </p>

                <img src="https://cf.shopee.vn/file/279b03b14b737c14742bc5e6d5612679" class="image_1"
                     style="width: 150px">

                <h4 class="price_text">Giá: 450,000₫</h4>
                <div class="buy_bt">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card" style="width: 17rem;height: 22rem">
              <div class="card-body">
                <h4 class="bursh_text">LAURELLE LONDON</h4>
                <p class="lorem_text">Nước Hoa Nam Laurelle London Twisted Soul Black 20ml </p>

                <img
                  src="https://product.hstatic.net/1000391653/product/lau043_709cdf2f4d834a4a886baa373eff21b1_40758a49706d44098ba06b110fa5e08b_large.jpg"
                  class="image_1" style="width: 150px">
                <h4 class="price_text">Giá: 180,000₫</h4>
                <div class="buy_bt">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card" style="width: 17rem;height: 22rem">
              <div class="card-body">
                <h4 class="bursh_text">LAURELLE LONDON</h4>
                <p class="lorem_text">Nước Hoa Nữ Laurelle London Together Forever EDP</p>

                <img
                  src="https://product.hstatic.net/1000391653/product/lle-london-together-forever-edp-100ml_db67ed8f097b45039942213a5d5a9e67_d5769d24afaa492e8544d68b5ad682f9_large.jpg"
                  class="image_1" style="width: 150px">
                <h4 class="price_text">Giá: 420,000₫</h4>
                <div class="buy_bt">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card" style="width: 17rem;height: 22rem">
              <div class="card-body">
                <h4 class="bursh_text">VERSACE</h4>
                <p class="lorem_text">Nước Hoa Nam Versace Eros EDT 100ml</p>

                <img
                  src="https://www.hangngoainhap.com.vn/images/upload/Image/nuoc-hoa/nuoc-hoa-nam-versace-eros-edt-100-ml-cua-y-1.jpg"
                  class="image_1" style="width: 210px">
                <h4 class="price_text">Giá: 1,790,000₫</h4>
                <div class="buy_bt">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card" style="width: 17rem;height: 22rem">
              <div class="card-body">
                <h4 class="bursh_text">LAURELLE LONDON</h4>
                <p class="lorem_text">Nước Hoa Nam Laurelle London Twisted Soul White</p>
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTixnlqM900w5WiS2Wha7GkaqAAHyjBOUNz3A&usqp=CAU"
                  class="image_1" style="width: 150px">
                <h4 class="price_text">Giá: 190,000₫</h4>
                <div class="buy_bt">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card" style="width: 17rem;height: 22rem">
              <div class="card-body">
                <h4 class="bursh_text">CALVIN KLEIN</h4>
                <p class="lorem_text">Nước Hoa Calvin Klein Eternity Aqua For Men EDT </p>
                <img
                  src="https://product.hstatic.net/1000391653/product/oa-calvin-klein-eternity-aqua-for-men_1e23154527fe4715bf2a2262446a42c9_8d75e33b675046dcacb46334769932ea_large.jpg"
                  class="image_1" style="width: 150px;">
                <h4 class="price_text">Giá: 1,550,000₫</h4>
                <div class="buy_bt">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card" style="width: 17rem;height: 22rem">
              <div class="card-body">
                <h4 class="bursh_text">NƯỚC HOA MINI</h4>
                <p class="lorem_text">Combo Nước Hoa Mini Versace Eros Edt </p>

                <img
                  src="https://product.hstatic.net/1000391653/product/nhm026-nhm030-nhm053-nhm068_37df758d19d342b58768b26fad886e4b_1c37033ed63e4fcca1d411afb9a847b2_large.jpg"
                  class="image_1" style="width: 150px">
                <h4 class="price_text">Giá: 420,000₫</h4>
                <div class="buy_bt">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card" style="width: 17rem;height: 22rem">
              <div class="card-body">
                <h4 class="bursh_text">HUGO BOSS</h4>
                <p class="lorem_text">Bộ Qùa Tặng Nước Hoa Nữ Hugo Boss Alive EDP 10ml-80ml</p>

                <img
                  src="https://product.hstatic.net/1000391653/product/3616303457860-2_cec8d4910c2349c18431ffc12f184968_large.jpg"
                  class="image_1" style="width: 150px">
                <h4 class="price_text">Giá: 1,790,000₫</h4>
                <div class="buy_bt">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card" style="width: 17rem;height: 22rem">
              <div class="card-body">
                <h4 class="bursh_text">MARC JACOBS</h4>
                <p class="lorem_text">Nước Hoa Nữ Marc Jacobs Perfect EDP 50ml</p>
                <img
                  src="https://product.hstatic.net/1000391653/product/3614227086029-1_e390dd2b75a946d98940527b73af4fd8_large.jpg"
                  class="image_1" style="width: 150px">
                <h4 class="price_text">Giá: 2,140,000₫ </h4>
                <div class="buy_bt">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card" style="width: 17rem;height: 22rem">
              <div class="card-body">
                <h4 class="bursh_text">CALVIN KLEIN</h4>
                <p class="lorem_text">Combo 3 Nước Hoa Chiết Calvin Klein Be EDT</p>
                <img
                  src="https://product.hstatic.net/1000391653/product/nhc014-nhc016-nhc020_de06d027581441bda15fc514d3597315_large.jpg"
                  class="image_1" style="width: 150px;">
                <h4 class="price_text">Giá: 650,000₫</h4>
                <div class="buy_bt">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange">Mua ngay</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
  <div class="about_section layout_padding" style="background: lightblue">
    <div class="container">
      <div class="about_section_main">
        <div class="row">
          <div class="col-md-6">
            <div class="about_taital_main">
              <h1 class="about_taital">Vì sao chọn nước hoa là món quà dành tặng phái đẹp hoàn hảo nhất?</h1>
              <p class="about_text">Trước vô vàn lựa chọn làm quà dành tặng nửa kia thì nước hoa vẫn là sự lựa chọn ưu
                tiên hàng đầu. Bởi lẽ nước hoa không chỉ là một sản phẩm đa công dụng, phục vụ cho nhiều mục đích khác
                nhau như: dùng trên cơ thể, xịt lên áo quần hay tạo một bầu không khí thơm ngát cho căn nhà của bạn. Nó
                còn là một món quà thiên về mặt tinh thần.

                Với một chai nước hoa, các nàng sẽ luôn mang bên mình vì đây là sản phẩm hằng ngày và giúp họ nhớ về
                bạn.
                Vì thế, nước hoa là một món quà chứa chan tình cảm.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div><img src="https://theperfume.vn/wp-content/uploads/2021/02/qua-tang-mung-8-thang-3-1.jpg"
                      class="image_3"
                      style="width: 500px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
