
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #046056">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Trang chủ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
            aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <button class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
            <a> Nước Hoa</a>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Nước Hoa Nữ</a></li>
            <li><a class="dropdown-item" href="#">Nước Hoa Nam</a></li>
            <li><a class="dropdown-item" href="#">Nước Hoa Unisex</a></li>
            <li><a class="dropdown-item" href="#">Nước Hoa Mini</a></li>
          </ul>
        </li>
      </ul>
      <a class="navbar-brand" href="#">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
              aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Hoạt động</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
              aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Liên hệ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
              aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://nuochoamy.vn/upload/media/nuoc-hoa-my--nuoc-hoa-nam-nu-chinh-hang-xach-tay-my-cao-cap-gia-re-tphcm-1669170350-eb5846.jpg"
        class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://theme.hstatic.net/200000122545/1000806012/14/slider_item_1_image.jpg?v=154"
           class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img
        src="https://nuochoamy.vn/upload/media/nuoc-hoa-my--nuoc-hoa-nam-nu-chinh-hang-xach-tay-my-cao-cap-gia-re-tphcm-1669172597-f4adcb.jpg"
        class="d-block w-100">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="product_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="container mt-5 mb-5">
        <div class="gallary-header text-center">
          <h1 style="width: 100%;background-color: darkslategrey;height: 20px;"><p class="cmtt"
                                                                                   style="background-color: white;width: 30%;line-height: 4px;padding: 5px 5px 13px 5px;margin: auto">
            SẢN PHẨM HOT
          </p></h1>
        </div>
      </div>
    </div>
    <div class="product_section_2 layout_padding">
      <div class="row">
        <div class="col-lg-3 col-sm-6 ">
          <div class="product_box " >
            <div class="card card1" style="width: 17rem;height: 22rem;text-align: center;background: whitesmoke">
              <div class="card-body card2 " >
                <h4 class="bursh_text" style="color: forestgreen">CALVIN KLEIN</h4>
                <p class="lorem_text">Nước Hoa Calvin Klein Be EDT 100ml</p>
                <img src="../../../assets/cc-removebg-preview.png" style="width: 130px">
                <h4 class="price_text">Giá: 1,307,000₫</h4>
                <div class="buy_bt overlay" >
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange; margin-left: 10px">Mua
                    ngay
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card card1" style="width: 17rem;height: 22rem;text-align: center;background: whitesmoke">
              <div class="card-body card2">
                <h4 class="bursh_text" style="color: forestgreen">LAURELLE LONDON</h4>
                <p class="lorem_text">Nước Hoa Nam Laurelle London Code Black Pour Homme EDT</p>
                <img src="../../../assets/l-removebg-preview.png" class="image_1" style="width: 135px">
                <h4 class="price_text">Giá: 660,000₫</h4>
                <div class="buy_bt overlay">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange; margin-left: 10px">Mua
                    ngay
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card card1" style="width: 17rem;height: 22rem;text-align: center;background: whitesmoke">
              <div class="card-body card2">
                <h4 class="bursh_text" style="color: forestgreen">BERDOUES 1902</h4>
                <p class="lorem_text">Nước Hoa Berdoues 1902 Freesia & Coton Eau De Toilette 100ml </p>

                <img src="../../../assets/1902-removebg-preview.png" class="image_1" style="width: 135px">

                <h4 class="price_text">Giá: 450,000₫</h4>
                <div class="buy_bt overlay">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange; margin-left: 10px">Mua
                    ngay
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card card1" style="width: 17rem;height: 22rem;text-align: center;background: whitesmoke">
              <div class="card-body card2">
                <h4 class="bursh_text" style="color: forestgreen">LAURELLE LONDON</h4>
                <p class="lorem_text">Nước Hoa Nam Laurelle London Twisted Soul Black 20ml </p>

                <img src="../../../assets/ll-removebg-preview.png" class="image_1" style="width: 135px">
                <h4 class="price_text">Giá: 180,000₫</h4>
                <div class="buy_bt overlay">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange; margin-left: 10px">Mua
                    ngay
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card card1" style="width: 17rem;height: 22rem;text-align: center;background: whitesmoke">
              <div class="card-body card2">
                <h4 class="bursh_text" style="color: forestgreen">LAURELLE LONDON</h4>
                <p class="lorem_text">Nước Hoa Nữ Laurelle London Together Forever EDP</p>

                <img src="../../../assets/aa-removebg-preview.png" class="image_1" style="width: 135px">
                <h4 class="price_text">Giá: 420,000₫</h4>
                <div class="buy_bt overlay">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange; margin-left: 10px">Mua
                    ngay
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card card1" style="width: 17rem;height: 22rem;text-align: center;background: whitesmoke">
              <div class="card-body card2">
                <h4 class="bursh_text" style="color: forestgreen">VERSACE</h4>
                <p class="lorem_text">Nước Hoa Nam Versace Eros EDT 100ml</p>

                <img src="../../../assets/b-removebg-preview.png" class="image_1" style="width: 135px">
                <h4 class="price_text">Giá: 1,790,000₫</h4>
                <div class="buy_bt overlay">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange; margin-left: 10px">Mua
                    ngay
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card card1" style="width: 17rem;height: 22rem;text-align: center;background: whitesmoke">
              <div class="card-body card2">
                <h4 class="bursh_text" style="color: forestgreen">LAURELLE LONDON</h4>
                <p class="lorem_text">Nước Hoa Nam Laurelle London Twisted Soul White</p>

                <img src="../../../assets/cc.png" class="image_1" style="width: 105px">
                <h4 class="price_text">Giá: 190,000₫</h4>
                <div class="buy_bt overlay">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange; margin-left: 10px">Mua
                    ngay
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card card1" style="width: 17rem;height: 22rem;text-align: center;background: whitesmoke">
              <div class="card-body card2">
                <h4 class="bursh_text" style="color: forestgreen">CALVIN KLEIN</h4>
                <p class="lorem_text">Nước Hoa Calvin Klein Eternity Aqua For Men EDT </p>
                <img src="../../../assets/d-removebg-preview.png" class="image_1" style="width: 135px;">
                <h4 class="price_text">Giá: 1,550,000₫</h4>
                <div class="buy_bt overlay">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange; margin-left: 10px">Mua
                    ngay
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card card1" style="width: 17rem;height: 22rem;text-align: center;background: whitesmoke">
              <div class="card-body card2">
                <h4 class="bursh_text" style="color: forestgreen">NƯỚC HOA MINI</h4>
                <p class="lorem_text">Combo Nước Hoa Mini Versace Eros Edt </p>

                <img src="../../../assets/o-removebg-preview.png" class="image_1" style="width: 155px">
                <h4 class="price_text">Giá: 420,000₫</h4>
                <div class="buy_bt overlay">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange; margin-left: 10px">Mua
                    ngay
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card card1" style="width: 17rem;height: 22rem;text-align: center;background: whitesmoke">
              <div class="card-body card2">
                <h4 class="bursh_text" style="color: forestgreen">HUGO BOSS</h4>
                <p class="lorem_text">Bộ Qùa Tặng Nước Hoa Nữ Hugo Boss Alive EDP 10ml-80ml</p>
                <img src="../../../assets/booo-removebg-preview.png" class="image_1" style="width: 135px">
                <h4 class="price_text">Giá: 1,790,000₫</h4>
                <div class="buy_bt overlay">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange; margin-left: 10px">Mua
                    ngay
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card card1" style="width: 17rem;height: 22rem;text-align: center;background: whitesmoke">
              <div class="card-body card2">
                <h4 class="bursh_text" style="color: forestgreen">MARC JACOBS</h4>
                <p class="lorem_text">Nước Hoa Nữ Marc Jacobs Perfect EDP 50ml</p>
                <img src="../../../assets/hh-removebg-preview.png" class="image_1" style="width: 135px">
                <h4 class="price_text">Giá: 2,140,000₫ </h4>
                <div class="buy_bt overlay">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange; margin-left: 10px">Mua
                    ngay
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <div class="card card1" style="width: 17rem;height: 22rem;text-align: center;background: whitesmoke">
              <div class="card-body card2">
                <h4 class="bursh_text" style="color: forestgreen">CALVIN KLEIN</h4>
                <p class="lorem_text">Combo 3 Nước Hoa Chiết Calvin Klein Be EDT</p>

                <img src="../../../assets/33-removebg-preview.png" class="image_1" style="width: 185px;">
                <h4 class="price_text">Giá: 650,000₫</h4>
                <div class="buy_bt overlay">
                  <button class="btn  icon-fallback-text h-100" style="background-color:cornflowerblue">Xem chi tiết
                  </button>
                  <button class="btn  icon-fallback-text h-100" style="background-color:orange; margin-left: 10px">Mua
                    ngay
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
  <div class="about_section layout_padding" style="background: lightblue">
    <div class="container">
      <div class="about_section_main">
        <div class="row">
          <div class="col-md-6">
            <div class="about_taital_main">
              <h1 class="about_taital">Vì sao chọn nước hoa là món quà dành tặng phái đẹp hoàn hảo nhất?</h1>
              <p class="about_text">Trước vô vàn lựa chọn làm quà dành tặng nửa kia thì nước hoa vẫn là sự lựa chọn ưu
                tiên hàng đầu. Bởi lẽ nước hoa không chỉ là một sản phẩm đa công dụng, phục vụ cho nhiều mục đích khác
                nhau như: dùng trên cơ thể, xịt lên áo quần hay tạo một bầu không khí thơm ngát cho căn nhà của bạn. Nó
                còn là một món quà thiên về mặt tinh thần.

                Với một chai nước hoa, các nàng sẽ luôn mang bên mình vì đây là sản phẩm hằng ngày và giúp họ nhớ về
                bạn.
                Vì thế, nước hoa là một món quà chứa chan tình cảm.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div><img src="https://theperfume.vn/wp-content/uploads/2021/02/qua-tang-mung-8-thang-3-1.jpg"
                      class="image_3"
                      style="width: 500px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>


