<footer style="background: #005028" >
  <div class="mid-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3 footer-click">

          <h4 class="title-menu clicked">
            CỬA HÀNG
          </h4>

          <p>
            Cửa hàng Mới D3T.vn - 280 Trần Hưng Đạo, Đà Nẵng (đối diện monarchy Đà Nẵng)
          </p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 footer-click">
          <h4 class="title-menu clicked">
            DỊCH VỤ KHÁCH HÀNG <i class="fa fa-angle-down d-md-none d-inline-block"></i>
          </h4>
          <ul class="list-menu toggle-mn">

            <li class="li_menu">
              <a class="link" href="/pages/chinh-sach-doi-tra" title="Chính sách giao hàng">Chính sách giao hàng</a>
            </li>

            <li class="li_menu">
              <a class="link" href="/pages/chinh-sach-doi-tra" title="Chính sách đổi sản phẩm">Chính sách đổi sản
                phẩm</a>
            </li>

            <li class="li_menu">
              <a class="link" href="/pages/chinh-sach-doi-tra" title="Chính sách bảo hành">Chính sách bảo hành</a>
            </li>

            <li class="li_menu">
              <a class="link" href="/pages/dat-hang-thanh-toan" title="Hướng dẫn mua hàng - Thanh toán">Hướng dẫn mua
                hàng - Thanh toán</a>
            </li>

          </ul>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 footer-click">
          <h4 class="title-menu clicked">
            DỊCH VỤ & HỖ TRỢ <i class="fa fa-angle-down d-md-none d-inline-block"></i>
          </h4>
          <ul class="list-menu toggle-mn">

            <li class="li_menu">
              <a class="link" href="/pages/frontpage" title="Giới thiệu về công ty">Giới thiệu về công ty</a>
            </li>

            <li class="li_menu">
              <a class="link" href="/pages/frontpage" title="Tuyển dụng">Tuyển dụng</a>
            </li>

            <li class="li_menu">
              <a class="link" href="/pages/tu-van" title="Tư vấn">Tư vấn</a>
            </li>

          </ul>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 footer-click">

          <div class="social-footer">
            <h4 class="title-menu">
              Theo dõi chúng tôi
            </h4>
            <ul class="follow_option d-flex flex-wrap align-items-center p-0 list-unstyled">

              <li>
                <a class="facebook link" href="#" title="Theo dõi Facebook Vstyle.vn"><i class="fab fa-facebook-f"></i></a>
              </li>


              <li>
                <a class="twitter link" href="#" title="Theo dõi Twitter Vstyle.vn"><i class="fab fa-twitter"></i></a>
              </li>


              <li>
                <a class="behance link" href="#" title="Theo dõi Behance Vstyle.vn"><i class="fab fa-behance"></i></a>
              </li>


              <li>
                <a class="instgram link" href="#" title="Theo dõi instgram Vstyle.vn"><i
                  class="fab fa-instagram"></i></a>
              </li>

            </ul>
          </div>
          <h4 class="title-menu">
            Phương thức thanh toán
          </h4>
          <div class="product-trustbadge my-3">
            <a href="" title="Phương thức thanh toán">
              <img class="lazyload img-fluid"
                   src="//theme.hstatic.net/1000391653/1000983112/14/product_trustbadge_pico.jpg?v=554"
                   data-src="//theme.hstatic.net/1000391653/1000983112/14/product_trustbadge.jpg?v=554"
                   alt="Phương thức thanh toán">
            </a>
          </div>
          <a href="http://online.gov.vn/Home/WebDetails/36755?AspxAutoDetectCookieSupport=1"
             title="Logo bộ công thương">
            <img class="lazyload" src="//theme.hstatic.net/1000391653/1000983112/14/logo_bct.png?v=554"
                 data-src="//theme.hstatic.net/1000391653/1000983112/14/logo_bct.png?v=554" alt="Logo bộ công thương"/>
          </a>
        </div>
      </div>


      <div class="ttct col-lg-12 col-md-12 col-xs-12">

        <div>
          <li class="fa fa-map-marker"></li>
          CÔNG TY CỔ PHẦN TRUYỀN THÔNG 3T - Số ĐKKD 0313411047 do Sở KHĐT tp. HCM cấp ngày 24/08/2015 - Địa chỉ:
          G02-02.23, Lầu 2 tòa nhà Galaxy 9, Số 9 Nguyễn Khoái, Phường 1, Quận 4, TP. Hồ Chí Minh, Việt Nam
        </div>
        <div>
          <li class="fa fa-phone"></li>
          Tổng đài: 19009048-19009049 (Thứ 2 đến thứ 6: Từ 8h30 - 17h30. Thứ 7 từ 8h30-12h)
        </div>
        <div>
          <li class="fa fa-envelope"></li>
          Địa chỉ email: cskhvstyle@3tgroupvn.com
        </div>

      </div>


    </div>
  </div>


  <div class="bg-footer-bottom copyright clearfix py-2">
    <div class="container">
      <div class="row">
        <div id="copyright" class="col-lg-12 col-md-12 col-xs-12 fot_copyright">
					<span class="wsp">
						© Bản quyền thuộc về D3T
					</span>
        </div>
      </div>

      <a href="#" id="back-to-top" class="backtop back-to-top" title="Lên đầu trang"><i class="fa fa-angle-up"
                                                                                        aria-hidden="true"></i></a>

    </div>
  </div>
</footer>
