<footer>
  <div class="row container-fluid" style="background: #046056">
    <div class="col-lg-2"></div>
    <div class="col-lg-3" style="background-color: #fdfdfe; color: black">
      <h2 style="color: #cbbe73; font-family: 'Al Nile'; margin-top: 30px; margin-left: 30px ">
        D3T(NƯỚC HOA AUTHENTIC)
      </h2>
      <p style="font-family: Times New Roman; margin-left: 30px">
        NƯỚC HOA AUTHENTIC D3T cam kết bán hàng nhập khẩu chính hãng với giá tốt nhất thị trường. Với tiêu chí mong muốn
        đem
        đến những sản phẩm tốt nhất tới tay khách hàng, D3T luôn luôn bảo đảm về chất lượng và thường xuyên có những
        chương trình ưu đãi đặc biệt để tri ân quý khách đã yêu mến D3T.
      </p>
      <h4 style="color: #cbbe73; font-family: 'Al Nile'; margin-top: 30px; margin-left: 30px ">
        DỊCH VỤ KHÁCH HÀNG
      </h4>
      <ol style="color: black; font-family: Times New Roman">
        <li>Chính sách giao hàng</li>
        <hr style="margin-top: 2px">
        <li>Chính sách đổi trả</li>
        <hr style="margin-top: 2px">
        <li>Chính sách bảo hành</li>
        <hr style="margin-top: 2px">
        <li>Hướng dẫn mua hàng - Thanh toán</li>
      </ol>
    </div>
    <div class="col-lg-3">
      <h4 style="color: #cbbe73; font-family: 'Al Nile'; margin-top: 30px">Thuơng Hiệu</h4>
      <span class="d-flex"
            style="color: darkgray; margin-top: 20px; margin-left: 30px; font-family: 'Times New Roman'"><i
        class="fa-solid fa-location-dot"></i>
GUCCI                </span>
      <p style="color: darkgray; margin-top: 20px; margin-left: 30px; font-family: 'Times New Roman'"><i
        class="fa-solid fa-phone"></i>
        CHANEL </p>
      <span class="d-flex"
            style="color: darkgray; margin-top: 20px; margin-left: 30px; font-family: 'Times New Roman'"><i
        class="fa-solid fa-envelope"></i>
LANCOME            </span>
      <span class="d-flex"
            style="color: darkgray; margin-top: 20px; margin-left: 30px; font-family: 'Times New Roman'"><i
        class="fa-solid fa-envelope"></i>
DIOR            </span>
      <span class="d-flex"
            style="color: darkgray; margin-top: 20px; margin-left: 30px; font-family: 'Times New Roman'"><i
        class="fa-solid fa-envelope"></i>
YSL            </span>
      <span class="d-flex"
            style="color: darkgray; margin-top: 20px; margin-left: 30px; font-family: 'Times New Roman'"><i
        class="fa-solid fa-envelope"></i>
MARC JACOBS            </span>
      <span class="d-flex"
            style="color: darkgray; margin-top: 20px; margin-left: 30px; font-family: 'Times New Roman'"><i
        class="fa-solid fa-envelope"></i>
ESTEE LAUDER           </span>
      <span class="d-flex"
            style="color: darkgray; margin-top: 20px; margin-left: 30px; font-family: 'Times New Roman'"><i
        class="fa-solid fa-envelope"></i>
GIORGIO ARMANI           </span>
      <span class="d-flex"
            style="color: darkgray; margin-top: 20px; margin-left: 30px; font-family: 'Times New Roman'"><i
        class="fa-solid fa-envelope"></i>
        <img src="https://www.hangngoainhap.com.vn/images/upload/Image/Bai-viet-sp/nuoc-hoa-nu-Gucci-Guilty-Intense-Eau-De-Parfum-75ml_.jpg" style="width: 200px">
        <img src="https://nuochoamy.vn/upload/images/nuoc-hoa-cho-nam-ban-chay-nhat(1).jpg" style="width: 200px">
        <img src="https://cdn.vuahanghieu.com/unsafe/0x0/left/top/smart/filters:quality(90)/https://admin.vuahanghieu.com/upload/news/content/2020/05/the-gioi-nuoc-hoa-hang-hieu-chinh-hang-3-jpg-1590141136-22052020165216.jpg" style="width: 200px ">
          </span>
    </div>
    <div class="col-lg-4">
      <h4 style="color: #cbbe73; font-family: 'Al Nile'; margin-top: 30px">Cửa Hàng</h4>
      <span class="d-flex"
            style="color: darkgray; margin-top: 20px; margin-left: 30px; font-family: 'Times New Roman'"><i
        class="fa-solid fa-location-dot"></i>
                Cửa hàng Mới D3T.vn - 280 Trần Hưng Đạo, Đà Nẵng (đối diện monarchy Đà Nẵng)
                </span>
      <p style="color: darkgray; margin-top: 20px; margin-left: 30px; font-family: 'Times New Roman'"><i
        class="fa-solid fa-phone"></i>
        Tổng đài: 19009048-19009049 (Thứ 2 đến thứ 6: Từ 8h30 - 17h30. Thứ 7 từ 8h30-12h)
      </p>
      <span class="d-flex"
            style="color: darkgray; margin-top: 20px; margin-left: 30px; font-family: 'Times New Roman'"><i
        class="fa-solid fa-envelope"></i>
                 Địa chỉ email: diem3t@gmail.com
            </span>
      <hr>
      <p style="margin-left: 150px; margin-top: 30px; color: darkgrey">© Bản quyền thuộc về D3T</p>
    </div>

  </div>
</footer>
