<section class="section">
  <div class="container margin-bottom-20 card py-20">
    <div class="wrap_background_aside margin-bottom-40 page_login">
      <div class="heading-bar">
        <h1 class="title_page mb-0">Đăng nhập tài khoản </h1>
        <p class="mb-0">Bạn chưa có tài khoản? Đăng ký <a href="/sign-up" class="btn-link-style btn-register" style="text-decoration: underline; ">tại đây</a></p>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 offset-md-3 py-3">

          <div class="page-login ">
            <div id="login" >
              <form accept-charset='UTF-8' action='/account/login' id='customer_login' method='post'>
                <input name='form_type' type='hidden' value='customer_login'>
                <input name='utf8' type='hidden' value='✓'>

                <div class="form-sign-up margin-bottom-15" style="color:red;">

                </div>
                <div class="form-sign-up clear-fix">
                  <fieldset class="form-group">
                    <label>Email <span class="required">*</span></label>
                    <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" class="form-control " value="" name="email" id="customer_email" placeholder="Email" Required>
                  </fieldset>
                  <fieldset class="form-group">
                    <label>Mật khẩu <span class="required">*</span> </label>
                    <input type="password" class="form-control " value="" name="password" id="customer_password" placeholder="Mật khẩu" Required>
                    <small class="d-block my-2">Quên mật khẩu? Nhấn vào<a href="#" class="btn-link-style text-primary"  onclick="showRecoverPasswordForm();return false;"> đây </a></small>
                  </fieldset>

                  <div class="pull-xs-left button_bottom a-center  mb-3">
                    <button class="btn btn-primary btn-block btn-style  btn-login"  type="submit" value="Đăng nhập">Đăng nhập</button>

                  </div>

                </div>

                <input id='1153e0d3608c4fe0800d9a778c57cd7d' name='g-recaptcha-response' type='hidden'><script src='https://www.google.com/recaptcha/api.js?render=6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-'></script><script>grecaptcha.ready(function() {grecaptcha.execute('6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-', {action: 'submit'}).then(function(token) {document.getElementById('1153e0d3608c4fe0800d9a778c57cd7d').value = token;});});</script></form>
            </div>

            <div id="recover-password" style="display:none;"  class="form-signup page-login text-center">
              <h2>
                Đặt lại mật khẩu
              </h2>
              <p>
                Chúng tôi sẽ gửi cho bạn một email để kích hoạt việc đặt lại mật khẩu.
              </p>
              <form accept-charset='UTF-8' action='/account/recover' method='post'>
                <input name='form_type' type='hidden' value='recover_customer_password'>
                <input name='utf8' type='hidden' value='✓'>

                <div class="form-signup" style="color: red;">

                </div>
                <div class="form-signup clearfix">
                  <fieldset class="form-group">
                    <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" class="form-control form-control-lg" value="" name="Email" id="recover-email" placeholder="Email" Required>
                  </fieldset>
                </div>

                <div class="action_bottom my-3">
                  <input class="btn btn-style btn-recover btn-block" type="submit" value="Lấy lại mật khẩu" />
                  <a href="#" class="btn btn-style link btn-style-active " onclick="hideRecoverPasswordForm();return false;">Quay lại</a>

                </div>

                <input id='57554d0403804ca18c1fbd9395f8cd3a' name='g-recaptcha-response' type='hidden'><script src='https://www.google.com/recaptcha/api.js?render=6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-'></script><script>grecaptcha.ready(function() {grecaptcha.execute('6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-', {action: 'submit'}).then(function(token) {document.getElementById('57554d0403804ca18c1fbd9395f8cd3a').value = token;});});</script></form>
            </div>
          </div>
          <div class="block social-login--facebooks margin-top-20 text-center">
            <p class="a-center text-secondary">
              Hoặc đăng nhập bằng
            </p>

            <button id="btn-google-login">Đăng nhập Google</button>
            <button id="btn-facebook-login">Đăng nhập Facebook</button>



          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('login').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('login').style.display = 'block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>
