<div class="container-fluid">
  <div class="titleheading"><h2 style="color: forestgreen;text-align: center;margin-top: 20px;margin-bottom: 20px"><b>
    {{perfumesByQuantitySold.name}}
  </b></h2><em></em></div>
  <div class="row">
    <div class="col-lg-6 col-sm-6">
      <div class="swiper-slide"><img [src]="perfumesByQuantitySold.image"
                                     style="width: 400px ; height: 500px ; margin-left: 70px "></div>
    </div>
    <div class="col-lg-6 col-sm-6">
      <p class="category"><span><b>Phân Loại</b></span>: {{perfumesByQuantitySold.category.name}}</p>
      <p class="category"><span><b>Thương Hiệu</b></span>: {{perfumesByQuantitySold.trademark.name}}</p>
      <p class="category"><span><b>Nhóm Hương</b></span>: {{perfumesByQuantitySold.fragrant.name}}</p>
      <p class="category"><span><b>Nồng Độ</b></span>: {{perfumesByQuantitySold.concentration.name}}</p>
      <p class="category"><span><b>Mô tả</b></span>: {{perfumesByQuantitySold.description}}</p>
      <a class="listprice">
        <a giaban="2250000" giacty="2650000" name="100ML#"><span class="name"><em>Giao hàng ngay</em></span>
          <input type="number" min="0" value="1"/>
          <h1 class="giaban"><b>&nbsp; {{perfumesByQuantitySold.price | currency:'VND':''}}đ</b></h1></a>
      </a>
      <div class="addtocart" style="background: #046056" (click)="addCart(perfumesByQuantitySold.idPerfume)" >Thêm vào giỏ hàng</div>
      <div class="addtocart" style="background: orangered" (click)="addCart(perfumesByQuantitySold.idPerfume)">Mua ngay</div>
      <p><img src="https://nuochoamy.vn/images/iconnuochoa2.png" style="width: 600px" alt="Phương thức thanh toán"/></p>

      <div class="camket">
        <ul>
          <li><img
            src="https://nuochoamy.vn/upload/_thumbs/Images/c2ad1b76e75c1a02434d-1-15923833237.jpg" width="50"/>
            <p>&nbsp;Cam kết chính hãng 100% - Phát Hiện hàng Fake 1 Đền 10<br/>
              &nbsp;</p>
          </li>
          <li style="text-align: justify;"><img
            src="https://nuochoamy.vn/upload/_thumbs/Images/32e30439f813054d5c02-15923833522.jpg"
            width="50"/>
            <p style="text-align: left;">&nbsp;Giao hàng nhanh chóng tận nơi trên toàn quốc<br/>
              <br/>
              &nbsp;</p>
          </li>
          <li><img
            src="https://nuochoamy.vn/upload/_thumbs/Images/4aff4025bc0f4151181e-2-159238338162.jpg" width="50"/>
            <p>&nbsp;Bảo hành 1 ĐỔI 1 TRONG 2 THÁNG - Đổi/Trả 3 NGÀY<br/>
              &nbsp;</p>
          </li>
          <li style="text-align: justify;"><img
            src="https://nuochoamy.vn/upload/_thumbs/Images/387877a38b8976d72f98-2-159238341836.jpg"
            width="50"/>
            <p style="text-align: left;">&nbsp;Hỗ trợ tư vấn chuyên nghiệp hotline:&nbsp;<span
              style="color:#c0392b;"><strong>0901961077</strong></span></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
