<div style="margin-top: 100px">
  <div class="container mt-4" >
    <form [formGroup]="formOderCreate"    class="needs-validation">
      <input type="hidden" name="kh_tendangnhap" value="dnpcuong">

      <div class="py-5 text-center">
        <h2>Thanh toán</h2>
        <p class="lead">Vui lòng kiểm tra thông tin Khách hàng, thông tin Giỏ hàng trước khi Đặt hàng.</p>
      </div>

      <div class="row">
        <div class="col-md-7 order-md-2">

          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Tóm tắt đơn hàng</span>
            <span class="badge badge-secondary badge-pill">{{iOderDetailList.length}}</span>
          </h4>
          <div class="list-group mb-3" >
            <div class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let cart of iOderDetailList">
              <div>
                <img style="width: 105px;height: 70px" sizes="(max-width: 300px) 100vw, 300px" [src]="cart.image">
                <h6 class="my-0">{{cart.perfumeName}}</h6>
                <small class="text-muted">{{(cart.price * cart.quantity) | number}} </small>
              </div>
              <span class="text-muted">{{cart.quantity|number}}</span>
            </div>
            <div class="list-group-item d-flex justify-content-between">
              <span>Tiền phí vận chuyển</span>
              <strong>Liên hệ phí vận chuyển sau</strong>
            </div>
            <div class="list-group-item d-flex justify-content-between">
              <span>Tổng thành tiền</span>
              <strong>{{totalCart.totalCostUser | number}} VNĐ</strong>
            </div>
            <div class="list-group-item d-flex justify-content-between">
              <hr class="mb-4">
              <div style="margin-right: 170px;color: #046056"><b>CHỌN PHƯƠNG THỨC THANH TOÁN</b></div>
            </div>
            <div id="payments"></div>
          </div>
        </div>
        <div class="col-md-5 order-md-1 mb-5">
          <h4 class="mb-3">Thông tin khách hàng</h4>

          <div class="row">
            <div class="col-md-12">
              <label for="kh_ten">Họ tên người nhận hàng:</label>
              <input readonly type="text" class="form-control mb-3"  id="kh_ten" value="{{user.name}}">
            </div>
            <div class="col-md-12">
              <label for="kh_diachi">Địa chỉ</label>
              <input type="text" class="form-control mb-3" name="kh_diachi" id="kh_diachi" value="{{user.address}}" formControlName="deliveryAddress">
            </div>
            <div class="col-md-12">
              <label for="kh_dienthoai">Điện thoại</label>
              <input type="text" class="form-control mb-3" name="kh_dienthoai" id="kh_dienthoai" value="{{user.phoneNumber}}" formControlName="deliverPhone">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
